@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@supports (-webkit-backdrop-filter: blur(30px) saturate(160%) contrast(45%) brightness(140%)) or
  (backdrop-filter: blur(30px) saturate(160%) contrast(45%) brightness(140%)) {
    .header-content, .keypad{
      width: 100%;
      background-color: rgba(255, 255, 255, 0.2);
     backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(120%);
     -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    }

  }

.contact-card {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr 1.5fr;
  height: 60px;
}

ul {
    list-style-type: none;
}

.app-body {
  display: block;
  background-image: linear-gradient(to bottom right, #04e7e7, #3d5afe,#251285);
  font-family: 'Montserrat', sans-serif;
  width: 500px;
  color: white;
  padding: 0;
}
.btn {
  display: grid;
  align-items: center;
  justify-content: center;
  color: white;
  border: solid 1px white;
  border-radius: 0;
  height: 80px;
}
.btn:hover {
  color: gray;
  fill: gray;
}
.btn img:hover {
  fill: gray;
}
.input {
  display: flex;
  width: 100%;
}
.contacts {
    font-family: 'Montserrat', sans-serif;
    color: black;
    height: 300px;
    overflow: scroll;
    background: white;
}

.header.container {
  display: grid;
  grid-template-columns: 25% 10% 25%;
  justify-content: center;
  padding-bottom: 16px;
}

.header {
  display: flex;
  align-items: flex-start;
}

.header-text {
  text-align: center;
  padding-top: 16px;
}
.switch-text.name {
  text-align: right;
}
.switch-text {
  text-align: left;
}

.form-switch {
  display: flex;
  justify-content: center;
}
.input.container {
  display: grid;
  margin: 10px 0;
  font-size: 20px;
  grid-template-columns: 8fr 1fr;
  align-items: center;
  height: 60px;
}
input {
  background-color: inherit;
  border: none;
  color: white;
  text-align: center;
}

#delete-button {
  background-color: inherit;
  border: none;
  display: none;
  padding: 5px;
}

button img {
  height: 20px;
}

.img-thumbnail {
  border-radius: 100px;
  border: none;
  height: 50px;
  padding: 4px;
}
.keypad {
  display: grid;
  align-items: flex-end;
}
